<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Page Title</title>
    <script type="module">
    import init, {make_svg} from "{% static 'pkg/svg_wasm.js' %}";
    init().then(() => {
          function event() {
            const input = document.getElementById("msg");
            const draw = document.getElementById("draw");
            const msg = input.value;
            var xmlhttp = new XMLHttpRequest();
            var url = "https://osdr.nasa.gov/osdr/data/osd/meta/"+msg;

            var arr = [];
            xmlhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                arr = JSON.parse(this.responseText);
                console.log(arr);
              }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();

            const out = make_svg(msg);
            console.log(out);
            draw.innerHTML = out;
          }
          document.getElementById("generate").addEventListener("click", event);
      });
    </script>
  </head>
  <body>
    <input type="text" id="msg" name="msg" placeholder="Enter Text" size="10" />
    <button id="generate" name="generate">Generate SVG</button>
    <div id="draw">
      <svg/>
    </div>
  </body>
</html> 
